.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    padding: 20px 0;
  }
  
  .navbar a {
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
    line-height: 37px;
    text-decoration: none;
    color: #333333;
    margin: 0 20px;
    font-weight: 400;
  }
  
  .navbar a:hover,
  .navbar a.active {
    text-decoration: underline;
  }
  