@import './planoCorporativo.css';
@import './planoIndividual.css';
@import './planoProfissional.css';

.sobre-container {
  max-width: 1440px;
  margin: 0 auto;
  background: #FFFFFF;
  font-family: 'Roboto Mono', monospace;
}

.text-and-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin: 10px;
  padding: 20px;
}

.text-section {
  flex: 1;
  margin-right: 40px;
}

.text-section h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  color: #333333;
}

.text-section p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  margin: 20px 0;
}

.primary-button {
  padding: 20px 40px;
  background: #333333;
  border-radius: 40px;
  color: #FFFFFF;
  font-size: 22px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.primary-button:hover {
  background-color: #555;
}

.image-section {
  display: flex;
  gap: 20px;
}

.image {
  width: 216px;
  height: 469px;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.planos-section {
  text-align: center;
  margin: 60px 0 0 0;
  background: #F4F2F2;
  border-radius: 16px;
  padding-bottom: 60px;
}

.planos-section h2 {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}

.planos-content {
  display: flex;
  justify-content: center;
  gap: 10px;
}
